#container {
  height: 770px;
  min-width: 310px;
  max-width: 900px;
  margin: 0 auto;
}

.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}

.highcharts-data-label tspan{
  font-size: 10px;
  font-weight: normal;
}

.highcharts-legend{
  pointer-events: none;
}
